.container {
    display: flex;
    flex-direction: column;
    border: solid rgb(49, 170, 75) .5rem;
    color: aliceblue;
    align-items: center;
    max-width: 90%;
    justify-content: flex-start;
    border-radius: .5rem;
}

.imagem>img {
    width: 100%;
    min-width: 70%;
}

.big-card-title {
    font-size: 15px;
}

.big-card-discription {
    color: gray;
}

a {
    color: aliceblue;
    text-decoration: none;
}

span {
    background-color: rgb(49, 170, 75);
    margin-left: 19.5rem;
    align-items: center;
    height: 1.2rem;
    color: black;
    padding: 0 1rem;
}