<app-menu-title>
</app-menu-title>
<div class="artigos">
    <div class="artigo-principal">

        <app-big-card photoCover="https://i.imgur.com/GrVC1ev.jpg" cardTitle="Último Certificado" cardDiscription=" Mais uma etapa do curso foi concluida na platafroma da DIO. Não paramos"></app-big-card>
    </div>
    <div class="artigos-secundarios">
        <app-small-card Id="1" photCover="https://i.imgur.com/eyWaYDb.jpg" smallTitle="Curso de Typescript"></app-small-card>
        <app-small-card Id="2" photCover="https://i.imgur.com/sT3J38g.jpg" smallTitle="Pokédex DIO"></app-small-card>
        <app-small-card Id="3" photCover="https://i.imgur.com/pnm8Cc9.jpg" smallTitle="Git e GitHub"></app-small-card>
    </div>
</div>